{% extends 'base.html' %}

{% block title %}New Customer{% endblock %}

{% block h1 %}Customer Entry{% endblock %}


    {% block content %}
<div class=" container div-bg" style="text-align:left; padding: 10px; ">

    <form method="POST" style="color:navy">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>
                <div style="margin-bottom: 10px">
                    {{form.name.label(style="font-size: 24px;")}}
                </div>
            </td>
            <td>
                <div style="margin-bottom: 10px">
                    {{form.name(style="font-size: 18px; width:300px; min-height: 30px")}}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="margin-bottom: 10px">
                    {{form.address.label(style="font-size: 24px; ")}}
                </div>
            </td>
            <td>
                <div style="margin-bottom: 10px; ">
                    {{form.address(style="font-size: 18px; min-height: 200px; width:500px; ")}}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="margin-bottom: 10px">
                    {{form.contact.label(style="font-size: 24px;")}}
                </div>
            </td>
            <td>
                <div style="margin-bottom: 10px">
                    {{form.contact(style="font-size: 18px; width:300px; min-height:30px")}}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="margin-bottom: 10px">
                    <input type="submit" class="btn btn-lg ">
                </div>
            </td>
        </tr>
    </table>


            <div>
    
                  <table class="div_note">
                    {% for item in success_note%}

                  <tr>

                    <td>{{loop.index}}</td>
                    <td >{{item}}</td>
 
                  </tr>
                  {% endfor %}

                </table>
              </div>

</form>




</div>
{% endblock %}


